.sidebar-wrapper {
    --sidebar-width: 16rem;
    --sidebar-width-icon: 3rem;
}

.sidebar-mobile-sheet {
    --sidebar-width: 18rem;
}

.sidebar-menu-skeleton-text {
    min-width: 0;
}

.sidebar-menu-skeleton-text.max-w-1\/2 {
    max-width: 50%;
}

.sidebar-menu-skeleton-text.max-w-3\/5 {
    max-width: 60%;
}

.sidebar-menu-skeleton-text.max-w-4\/5 {
    max-width: 80%;
}

.sidebar-menu-skeleton-text.max-w-9\/10 {
    max-width: 90%;
}